.container{
    width: 100%;
    height: 40%;
    background-color: #F6B55B;
    display: inline-block;
}

.logo{
    width: 30%;
    height: 35%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    content: url(../image/image\ 2.png);
    /* background-position: center left; */
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.login-box{
    float: right;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 30%;
    height: 30%;
    justify-content: center;
    background-color: antiquewhite;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
    overflow: auto;
    display: flex;
}

.idpw{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
}